.containerBlogPost{
    display: flex;
    flex-direction: column;
}

.author{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.authorInfor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    line-height: 1px;
}

.social{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.headerButton{
    display: flex;
    background-color: white;
    color: aqua;
    border: 2px solid aqua;
    align-items: center;
    text-decoration: none;
    justify-content: center;

}

.headerButton:hover{
    background-color: aqua;
    color: white;
}

.contentPost h2{
    color: rebeccapurple;
}
