
@media only screen and (min-width:700px){
    .container{
        display:grid;
        grid-template-columns: 150px repeat(3,1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sb ct ct ct ct ct ct ct"
        "ft ft ft ft ft ft ft ft";
        padding-left: 50px;
        gap: 20px;
    }
}


@media only screen and (min-width: 700px){
    .main{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
    }
}